body {
    font-size: 170%;
    font-family: 'Roboto', sans-serif;
}
:root {
    --tamsi: #333333;
    --geltona: #eff554;
    --zalia: #44ef98;
    --rozine: #ee4469;
    --melyna: #12478f;
} 

#selfclick{
    visibility: hidden;
    display: none;
}
#stream{
    text-align: center;
    align-items: center;
    background-color: var(--rozine);
    padding: 2rem;
}

#matuoklis{
    background-color: aliceblue;
    min-width: 5rem;
    width: 100%;
    height: 250px;
    min-height: 5rem;
    margin: auto;
    font-size: 2rem;
}

#morzesKodas{
    background-color: aliceblue;
    min-width: 5rem;
    min-height: 5rem;
    height: 250px;
    margin: auto;
    font-size: 2rem;
    width: 100%;
  
}

#space{
    visibility: hidden;
    display: none;
}
#dot{
    visibility: hidden;
    display: none;
}
#bruksnys{
    visibility: hidden;
    display: none;
}
#letter{
    visibility: hidden;
    display: none;
}

#backspace{
    visibility: hidden;
    display: none;
}

.paveiksliukai{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paveiksliukai img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
}

.smileys{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.grid-50.naudojimosi li {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: flex-end;
    padding: 20px 0 0;
    
}
img.smileys {
    object-fit: scale-down;
}

.grid{
    grid-auto-flow: column;
    display: grid;
    background-color: var(--zalia);
}
.naudojimos li {
    list-style: none;
    display: flex;
}

.grid-50{
    padding: 0 2rem;
    min-width: 45vw;
    display: grid;
    place-items: center;
}

/* #video{
    visibility: hidden;
} */

.abecele{
    text-align: center;
}

.abecele img{
    width: 100%;
}



@media screen and (max-width:981px){
    .grid {
        grid-auto-flow: row;
    }
}