body {
    font-size: 170%;
    font-family: 'Roboto', sans-serif;
}

#selfclick{
    visibility: hidden;
    display: none;
}

#matuoklis{
    background-color: aliceblue;
    min-width: 5rem;
    width: 100%;
    height: 40%;
    min-height: 5rem;
    margin: auto;
    font-size: 2rem;
}

#morzesKodas{
    background-color: aliceblue;
    min-width: 5rem;
    min-height: 5rem;
    margin: auto;
    font-size: 2rem;
    width: 100%;
    height: 40%;
}

#space{
    visibility: hidden;
    display: none;
}
#dot{
    visibility: hidden;
    display: none;
}
#bruksnys{
    visibility: hidden;
    display: none;
}

.paveiksliukai{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paveiksliukai img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
}

.smileys{
    height: 100px;
    width: 100px;
}

.grid{
    grid-auto-flow: column;
    display: grid;
}

.grid-50{
    padding: 0 2rem;
    min-width: 45vw;
}

#video{
    visibility: hidden;
}

.abecele{
    text-align: center;
}

.abecele img{
    width: 100%;
}



@media screen and (max-width:767px){
    .grid {
        grid-auto-flow: row;
    }
}