body {
    font-size: 170%;
    font-family: 'Roboto', sans-serif;
}
:root {
    --tamsi: #333333;
    --geltona: #eff554;
    --zalia: #44ef98;
    --rozine: #ee4469;
    --melyna: #12478f;
} 

#selfclick{
    visibility: hidden;
    display: none;
}
#stream{
    text-align: center;
    align-items: center;
    padding-top: 2rem;
}

#matuoklis{
    background-color: aliceblue;
    min-width: 5rem;
    width: 100%;
    height: 100px;
    min-height: 5rem;
    margin: auto;
    font-size: 2rem;

}

textarea {
    width: 100%!important;
    height: 100%!important;
}

#morzesKodas{
    background-color: aliceblue;
    min-width: 5rem;
    min-height: 5rem;
    height: 100px;
    margin: auto;
    font-size: 2rem;
    width: 100%;
  
}

#space{
    visibility: hidden;
    display: none;
}
#dot{
    visibility: hidden;
    display: none;
}
#bruksnys{
    visibility: hidden;
    display: none;
}
#letter{
    visibility: hidden;
    display: none;
}

#backspace{
    visibility: hidden;
    display: none;
}

.paveiksliukai{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

paveiksliukai img {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    background-color: var(--geltona);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.smileys{
    height: 50px;
    width: 50px;
    margin: 6px;
}
.grid-50.naudojimosi li {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: start;
    padding: 20px 0 0;
    
}
img.smileys {
    object-fit: scale-down;
}

.grid{
    grid-auto-flow: column;
    display: grid;
    background-color: lightblue;
}
.naudojimos li {
    list-style: none;
    display: flex;
}

.grid-50{
    padding: 0 2rem;
    display: grid;
    place-items: center;
    margin: 0 0 auto;

}

/* #video{
    visibility: hidden;
} */

#video {
    width: 30%!important;
    height: auto!important;
}

.abecele{
    text-align: center;
    max-width: 650px;

}

.abecele img{
    width: 100%;
    
}


body.u-body * ,
.u-font-oswald.u-custom-font{
    font-family: 'Roboto'!important;
}
.naudojimosi ul {
    margin: 0;
    transform: scale(0.8);
}

@media screen and (max-width:981px){
    .grid {
        grid-auto-flow: row;
    }
}
